* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}


.meny {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  justify-content: space-between;
  width: 100%
}

img {
  width: 100%;
  max-width: 300px;
}

.meny section {
  border: solid rgba(8, 8, 8, 0.767) .3rem;
  width: 100%;
  max-width: 300px;
  padding: 1rem;
  margin: 1rem;
}

.adjust {
  margin: 1rem;
}